{% extends "layout/basic.html" %}

{% block content %}
{% for bb in bbs %}
<div>
    <h2><a href="{% url 'bboard:detail' year=bb.published.year month=bb.published.month day=bb.published.day pk=bb.pk %}">{{ bb.title }}</a></h2>
    <p>{{ bb.content }}</p>
    <p><a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    <a href="{% url 'bboard:edit' pk=bb.pk %}">Изменить</a>
    <a href="{% url 'bboard:delete' pk=bb.pk %}">Удалить</a>
</div>
{% endfor %} 
{% endblock %}